/* General global style configurations */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "DM Sans", "sans-serif";
    color: #7B88A8;
    /* border: 1px solid green; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF0E2;
}



/* Navigation Bar */
nav {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #FFF0E2;
    display: flex;
    justify-content: center;
    z-index: 1000;
    transition: box-shadow 0.4s ease;
}

.nav-wrapper {
    width: 1500px;
    margin-left: 30px;
    margin-right: 30px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.nav-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#adh-logo,
#gkg-logo {
    height: 45px;
    width: auto;
    cursor: pointer;
    user-select: none;
}

#gkg-logo {
    margin-left: 20px;
}

.nav-contents {
    display: flex;
    align-items: center;
}

#nav-links {
    margin-right: 50px;
    width: 450px;
}

#nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-links li {
    list-style-type: none;
}

#nav-links a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05rem;
    transition: color 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav-links a:hover {
    color: #F14014;
}

.nav-cta {
    width: 140px;
    height: 45px;
    background-color: #F14014;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    font-weight: 400;
    transition: padding-bottom 0.2s ease;
}

.nav-cta:hover {
    padding-bottom: 5px;
}

#hamburger-icon {
    display: none;
    width: 20px;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
}

.line-1,
.line-2,
.line-3 {
    height: 2px;
    width: 100%;
    background-color: black;
}

.line-2 {
    margin: 4px 0px;
}

#nav-start {
    color: #F14014;
}

#mobile-opened {
    display: none;
    background-color: #FFF0E2;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0px;
}

#menu-closer {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#menu-closer img {
    width: 20px;
    -webkit-touch-callout: none;
}

.menu-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text:nth-child(n+2) {
    margin-top: 20px;
}

.menu-text a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    color: #070930;
    padding: 5px 0px;
}

.text-1 a {
    color: #F14014;
}

.menu-text-drop-2,
.menu-text-drop-3,
.menu-text-drop-4,
.menu-text-drop-5,
.menu-text-drop-6 {
    display: none;
}

#nav-indirect-spacer {
    height: 75px;
    width: 100%;
    z-index: -1;
}




/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF0E2;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
}

.hero-content-wrapper {
    margin-top: 70px;
    margin-right: 50px;
}

.normal-header-text {
    font-size: 90px;
    color: #070930;
}

.next-line {
    display: flex;
    align-items: center;
}

.special-content {
    margin-left: 20px;
    position: relative;
}

.special-content-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hashtag {
    width: 90px;
}

#underline {
    position: absolute;
    bottom: 0px;
    right: -35px;
    width: 90%;
}

#youthful {
    font-family: "Ink Free", "Dm Sans";
    font-weight: 600;
    font-size: 110px;
    color: #F14014;
}

.hero-cta-wrapper {
    margin-top: 50px;
}

.hero-cta {
    width: 140px;
    height: 45px;
    background-color: #F14014;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    font-weight: 400;
    transition: padding-bottom 0.2s ease;
}

.hero-image-wrapper {
    width: 100%;
    height: 100%;
}

.hero-image-wrapper img {
    width: 100%;
}

.brush-section {
    background-color: white;
    width: 100%;
}

.brush-section img {
    width: 100%;
    background-color: white;
}



/* Introduction header section */
/* Slideshow header section */
.introduction-section {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.introduction-wrapper {
    max-width: 720px;
    margin-top: 70px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 150px;
}

.intro-header,
.slideshow-header,
.testimonial-header {
    position: relative;
    width: 100%;
}

.intro-header h1,
.slideshow-header h1,
.testimonial-header h1 {
    position: relative;
    font-size: 45px;
    color: #070930;
    z-index: 1;
    text-align: center;
}

#main-brush {
    position: absolute;
    top: 0px;
    left: 90px;
    right: 0;
    margin: auto;
    z-index: 0;
    pointer-events: none;
    user-select: none;
}

.intro-subheader h3,
.slideshow-subheader h3,
.testimonial-subheader h3 {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5rem;;
    text-align: center;
    margin-top: 20px;
}



/* Content section 1 and 3 */
.content-section-1,
.content-section-3 {
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
}

.content-section-wrapper-1,
.content-section-wrapper-3 {
    position: relative;
    z-index: 1;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.section-image-wrapper-1,
.section-image-wrapper-3 {
    max-width: 550px;
    min-width: 400px;
    margin-right: 5%;
}

.section-image-wrapper-1 img,
.section-image-wrapper-3 img {
    width: 100%;
}

.section-text-wrapper-1,
.section-text-wrapper-3 {
    max-width: 600px;
}

.section-text-wrapper-1 h6,
.section-text-wrapper-3 h6 {
    margin-bottom: 6px;
    letter-spacing: 0.1rem;
}

.section-text-wrapper-1 h6 {
    color: #F1872D;
}

.section-text-wrapper-3 h6 {
    color: #F4431A;
}

.section-text-wrapper-1 h2,
.section-text-wrapper-3 h2 {
    font-size: 45px;
    line-height: 3rem;
    color: #070930;
    max-width: 450px;
    position: relative;
}

.section-text-wrapper-1 p,
.section-text-wrapper-3 p {
    font-size: 17px;
    margin-top: 10px;
}

#heart-icon {
    position: absolute;
    width: 130px;
    top: -60px;
    left: -120px;
}

#section-1-drop,
#section-3-drop {
    width: 50px;
    position: absolute;
    top: -50px;
    right: -7%;
}

#div-decoration-1,
#div-decoration-3 {
    position: absolute;
    left: 0px;
    z-index: 0;
    width: 30%;
    height: 90%;
}

#div-decoration-1 {
    background-color: #FFF0E2;
    clip-path: polygon(0 4%, 51% 1%, 96% 2%, 100% 70%, 98% 100%, 44% 98%, 0 100%, 0 51%);
}

#div-decoration-3 {
    background-color: #ffe4dd;
    clip-path: polygon(0 2%, 57% 0, 100% 3%, 97% 27%, 100% 55%, 98% 97%, 38% 100%, 0 98%);

}



/* Content-section-2 */
.content-section-2 {
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
}

.content-section-wrapper-2 {
    position: relative;
    z-index: 1;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.section-image-wrapper-2 {
    max-width: 550px;
    min-width: 400px;
    margin-left: 5%;
}

.section-image-wrapper-2 img {
    width: 100%;
}
.section-text-wrapper-2 {
    max-width: 600px;
}

.section-text-wrapper-2 h6 {
    color: #537D42;
    margin-bottom: 6px;
    letter-spacing: 0.1rem;
}

.section-text-wrapper-2 h2 {
    font-size: 45px;
    line-height: 3rem;
    color: #070930;
    max-width: 450px;
    position: relative;
}

.section-text-wrapper-2 p {
    font-size: 17px;
    margin-top: 10px;
}

#section-2-hashtag {
    position: absolute;
    width: 100px;
    bottom: -40px;
    right: -110px;
}

#section-2-drop {
    width: 50px;
    position: absolute;
    top: -80px;
    left: -50px;
}

#div-decoration-2 {
    position: absolute;
    right: 0px;
    z-index: 0;
    width: 30%;
    height: 90%;
    background-color: #E7E9E3;
    clip-path: polygon(0 4%, 61% 0, 100% 3%, 100% 100%, 42% 96%, 3% 100%, 0 81%, 2% 21%);
}


/* Custom content section 3 adjustments */
#arrow-home {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -150px;
    left: -100px;
    overflow: hidden;
}

#section-3-arrow {
    position: absolute;
    width: 90px;
    bottom: 0px;
    right: 0px;
}

#arrow-home h4 {
    position: absolute;
    top: 40px;
    left: 10px;
    font-family: "Ink Free", "Dm Sans";
    font-weight: 400;
    font-size: 4rem;
    color: #F4431A;
    transform: rotate(-20deg);
}



/* Slideshow brush section */
.slideshow-brush-section {
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color: white;
}

.slideshow-brush-section img {
    width: 100%;
}

/* Custom slideshow header section adjustments */
.slideshow-header-section {
    background-color: #FFF0E2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-header-wrapper {
    max-width: 720px;
    margin-top: 50px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 50px;
}

/* Slideshow selector section */
.slideshow-selector-section {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.slideshow-selector-wrapper {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    user-select: none;
}

#hausausstattung,
#stockwerksausstattung,
#zimmerausstattung {
    position: relative;
    cursor: pointer;
    padding: 15px 0;
}

#stockwerksausstattung {
    margin: 0 35px;
}

#selector-underline-1,
#selector-underline-2,
#selector-underline-3 {
    position: absolute;
    bottom: 0px;
    display: none;
}

#selector-text-1,
#selector-text-2,
#selector-text-3 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #07093056;
    transition: color 0.3s ease;
}


#selector-text-1:hover,
#selector-text-2:hover,
#selector-text-3:hover {
    color: #0709309f;
}

#selector-underline-1 {
    width: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

#selector-underline-2 {
    width: 230px;
    left: 0;
    right: 0;
    margin: auto;
}

#selector-underline-3 {
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
}


#arrow-indicators {
    display: none;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    width: 120px;
}

#arrow-indicators img {
    max-width: 80px;
    opacity: 30%;
}

.swipe-notifier {
    font-family: "Ink Free";
    font-size: 1.1rem;
    color: #F4431A;
    opacity: 30%;
    font-weight: 900;
}







/* Swiper section */
.slideshow-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.slideshow-1,
.slideshow-2,
.slideshow-3 {
    max-width: 1140px !important;
    width: 100% !important;
    max-height: 680px !important;
    height: 100% !important;
    margin: 0 30px;
}

.swiper-wrapper img {
    max-width: 100% !important;
    height: auto !important;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    transition: background 0.2s ease;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    height: 45px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.445);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    transition: background-color ease,
    border ease;
}


.swiper-button-next {
    right: 40px;
}

.swiper-button-prev {
    left: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.fa-angle-left,
.fa-angle-right {
    color: white;
}

.slideshow-1,
.slideshow-2,
.slideshow-3 {
    display: none;
}









/* Feature content section */
.feature-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

#feature-content-haus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
}

#feature-content-haus img {
    width: 110px;
    user-select: none;
    -webkit-user-drag: none;
}

.box {
    max-width: 360px;
    margin-bottom: 40px;
}

.box p{
    font-size: 17px;
    font-weight: 200;
    color: #7B88A8;
    font-weight: 400;
    margin-top: 6px;
}

.box h3 {
    font-size: 21px;
    color: #070930;
    font-weight: 900;
}


.pricing-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

.pricing-link-content a {
    text-decoration: none;
    color: #F14014;
    font-weight: 700;
    font-size: 18px;
}

.pricing-link-content img {
    width: 27px;
    margin-left: 7px;
}





/* Testimonial section */
.testimonial-section {
    position: relative;
}

.background-decoration {
    min-height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FEE0D0;
    z-index: -1;
    clip-path: polygon(0 4%, 16% 1%, 34% 3%, 57% 1%, 72% 3%, 90% 0, 100% 2%, 100% 100%, 91% 99%, 75% 97%, 64% 98%, 53% 98%, 43% 98%, 33% 97%, 24% 97%, 9% 100%, 0% 99%);
}


.testimonial-header-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonial-header-wrapper {
    max-width: 720px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 50px;
    margin-top: 80px;
}

.testimonial-content-flex {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.testimonial-content-wrapper {
    margin-bottom: 100px;
    position: relative;
    margin-bottom: 50px;
    max-width: 1140px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.profile-wrapper img {
    max-width: 270px;
    width: 100%;
    height: auto;
    border-radius: 5%;
    display: block;
    margin: 0 auto;
}

.profile-wrapper h2 {
    font-size: 23px;
    color: #070930;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.profile-wrapper p {
    color: #F1872D;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    margin-top: 4px;
}

#testimonial-arrow-left-mobile,
#testimonial-arrow-right-mobile {
    position: absolute;
    width: 80px;
    display: none;
    cursor: pointer;
}

#testimonial-arrow-left-mobile {
    top: 0;
    bottom: 0;
    left: 8vw;
    margin: auto;
}

#testimonial-arrow-right-mobile {
    right: 8vw;
    top: 0;
    bottom: 0;
    margin: auto;
}


#profile-1,
#profile-2,
#profile-3,
#profile-4,
#profile-5 {
    display: none;
}


.testimonial-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-area {
    max-width: 720px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 25px;
    position: relative;
    margin-bottom: 40px;
}

.text-area p {
    font-size: 22px;
    font-weight: 500;
    color: #070930;
    text-align: center;
    line-height: 1.8rem;
}

#testimonial-text-1,
#testimonial-text-2,
#testimonial-text-3,
#testimonial-text-4,
#testimonial-text-5 {
    display: none;
}

.quotation-left,
.quotation-right {
    position: absolute;
    width: 100px;
    pointer-events: none;
    user-select: none;
}

.quotation-left {
    top: -50px;
    left: -20px;
}

.quotation-right {
    bottom: -50px;
    right: -20px;
}



.testimonial-navigators {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#testimonial-nav1,
#testimonial-nav2,
#testimonial-nav3,
#testimonial-nav4,
#testimonial-nav5 {
    width: 17px;
    height: 17px;
    border-radius: 3px;
    background-color: #f140145e;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#testimonial-nav1:hover,
#testimonial-nav2:hover,
#testimonial-nav3:hover,
#testimonial-nav4:hover,
#testimonial-nav5:hover {
    background-color: #f1882dc7;
}

#testimonial-arrow-left,
#testimonial-arrow-right {
    position: absolute;
    width: 100px;
    cursor: pointer;
    user-select: none;
}

#testimonial-arrow-left {
    top: 0;
    bottom: 0;
    left: 0px;
    margin: auto;
}

#testimonial-arrow-right {
    top: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
}


/* Interessantes section */
.interessantes-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interessantes-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
    width: 100%;
    margin: 0 30px;
}

.articles-wrapper {
    max-width: 340px;
    cursor: pointer;
    margin-bottom: 60px;
}

.articles-wrapper.träger {
    margin-bottom: 0px;
}


.articles-wrapper img {
    width: 100%;
    height: auto;
}

.articles-wrapper h2 {
    width: 100%;
    height: auto;
    font-size: 23px;
    color: #070930;
    font-weight: 900;
    margin-top: 10px;
}

.articles-wrapper p{
    font-size: 17px;
    font-weight: 200;
    color: #7B88A8;
    font-weight: 400;
    margin-top: 6px;
}

.articles-wrapper span {
    color: #F4431A;
    font-weight: 800;
    border: none;
}

 #interessantes-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    margin-left: 5px;
    border: none;
}


/* Footer section */
.application-wrapper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.application-background {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    background-color: #070930;
    z-index: 0;
}

.application-card {
    max-width: 900px;
    width: 100%;
    padding: 80px 50px;
    background-color: #F6B57F;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 2vw;
    z-index: 5;
}

.application-text h2,
.application-text span{
    font-size: 2rem;
}

.application-text h2 {
    color: #FEF8F2;
}

.application-text span {
    color: #F4431A;
}

.application-cta button {
    width: 200px;
    height: 50px;
    background-color: #F14014;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    font-weight: 400;
    transition: margin-bottom 0.2s ease;
}

.application-cta button:hover {
    margin-bottom: 7px;
}

.application-cta {
    position: relative;
}

.application-arrow {
    position: absolute;
    bottom: -70px;
    left: -20px;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}







.footer-content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070930;
}

.footer-wrapper {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0 30px;
}

.logo-footer-section {
    margin-right: 40px;
    max-width: 110px;
    width: 100%;
}

.logo-footer-section img {
    width: 100%;
    height: auto;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}

.logo-footer-section, 
.leben-footer-section,
.über-footer-section,
.fragen-footer-section {
    margin-bottom: 50px;
}

.über-footer-section {
    margin-left: 20px;
    margin-right: 20px;
}

.fragen-footer-section {
    max-width: 360px;
}

.footer-wrapper h5 {
    font-size: 18px;
    color: #7B88A8;
    margin-bottom: 30px;
}

.footer-wrapper a,
.footer-wrapper p {
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.footer-wrapper a {
    line-height: 2.3rem;
    padding: 5px 0;
}






.footer-credentials-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070930;

}

.credentials-flex-container {
    max-width: 1140px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.credentials-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.socials {
    width: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.socials .fa-facebook,
.socials .fa-instagram {
    font-size: 1.4rem;
    cursor: pointer;
}


.socials .fa-envelope {
    font-size: 1.2rem;
    cursor: pointer;
}

.credentials-line {
    width: 100%;
    height: 1px;
    background-color:rgba(255, 255, 255, 0.308);
}





































/* Relocating content section 2 hastag and content section 3 arrow */
/* testimonial background adjustments */
@media (max-width: 1380px) {

    /* section 2 hastag */
    #section-2-hashtag {
        display: none;
    }

    /* section 3 arrow */
    #arrow-home {
        top: -150px;
        left: 0px;
    }

    .background-decoration {
        clip-path: polygon(0 2%, 16% 1%, 34% 3%, 57% 1%, 72% 2%, 90% 0, 100% 1%, 100% 100%, 91% 99%, 75% 97%, 64% 98%, 53% 98%, 43% 98%, 33% 97%, 24% 97%, 9% 100%, 0% 99%);
    }
}

/* Feature content section wrap */
/* Interessantes section wrap */
@media (max-width: 1200px) {
    
    #feature-content-haus {
        max-width: 800px;
    }

    .interessantes-wrapper {
        max-width: 800px;
    }
}

/* Shrinking down hero header-content */
/* Removing heart icon and hastag from content section 1 and 2 */
/* Relocating section 2 drop */
@media (max-width: 1250px) {

    /* header content */
    .normal-header-text {
        font-size: 70px;
    }

    #hashtag {
        width: 70px;
    }

    #youthful {
        font-size: 90px;
    }

    /* section 1 heart icon; section 2 hastag */
    #heart-icon {
        display: none;
    }

    /* section 2 drop */
    #section-2-drop {
        transform: scale(-1, 1);
        top: -40px;
        left: unset;
        right: -20px;
    }
}


/* Removing GKG-Logo */
@media (max-width: 1100px) {

    #gkg-logo {
        display: none;
    }

    #adh-logo {
        margin-right: 50px;
    }

    #nav-links {
        width: 400px;
    }
}



/* adjusting margin for nav wrapper */
/* Adjusting section 1 for tablet view */
/* adjusting margin for slideshow wrapper */
/* adjusting margin for feature content wrapper */
/* adjusting margin for testimonial content wrapper */
/* activating mobile testimonial arrows */
/* interessantes section wrap */
@media (max-width: 1000px) {

    /* nav wrapper */
    .nav-wrapper {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    /* section 1 */
    .content-section-wrapper-1,
    .content-section-wrapper-2,
    .content-section-wrapper-3 {
        display: block;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 150px;
    }

    .section-image-wrapper-1,
    .section-image-wrapper-2,
    .section-image-wrapper-3 {
        margin-right: 0px;
        margin-left: 0px;
    }

    .section-text-wrapper-1,
    .section-text-wrapper-3 {
        margin-top: 30px;
        max-width: 90%;
    }

    .section-text-wrapper-2 {
        margin-bottom: 30px;
        max-width: 90%;
    }

    #div-decoration-1,
    #div-decoration-2,
    #div-decoration-3 {
        width: 50%;
        height: 60%;
    }

    /* section 3 arrow */
    #arrow-home {
        display: none;
    }  

    /* feature content wrapper */
    .feature-content-wrapper {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    /* Slideshow margin adjustment */
    .slideshow-1,
    .slideshow-2,
    .slideshow-3 {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .testimonial-content-wrapper {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #testimonial-arrow-left,
    #testimonial-arrow-right {
        display: none;
    }

    #testimonial-arrow-left-mobile,
    #testimonial-arrow-right-mobile {
        display: block;
    }

    .interessantes-wrapper {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .application-card {
        margin: 0 2vw;
    }

    .footer-wrapper {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .credentials-flex-container {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}


/* Repositioning footer for tablet view */
@media (max-width: 950px) {

    .footer-wrapper {
        display: block;
    }

    .über-footer-section {
        margin-left: 0px;
        margin-right: 0px;
    }
}




/* Positioning hero content on vertical axis */
@media (max-width: 900px) {

    .hero-wrapper {
        flex-direction: column;
        margin-top: 0px;
    }

    .hero-content-wrapper {
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 4vh;
    }

    .next-line {
        justify-content: center;
    }

    .hero-image-wrapper {
        max-width: 500px;
    }

    .hero-cta-wrapper {
        display: none;
    }
}


/* application banner adjustments */
@media (max-width: 892px) {

    .application-cta {
        margin-top: 20px;
    }
}

/* Tablet Breakpoint */
@media (max-width: 770px) {

    /* Navigation Bar */
    #nav-links {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    /* Reducing bottom margin at introduction wrapper 1 & 2 */
    .introduction-wrapper,
    .content-section-wrapper-1,
    .content-section-wrapper-2,
    .content-section-wrapper-3 {
        margin-bottom: 75px;
    }

    /* Content section 1 and 2 background div adjustment */
    #div-decoration-1,
    #div-decoration-2,
    #div-decoration-3 {
        width: 90%;
        height: 60%;
    }

    .section-text-wrapper-1,
    .section-text-wrapper-2,
    .section-text-wrapper-3 {
        max-width: 100%;
    }
    
    /* Making slideshow-selectors scrollable */
    .slideshow-selector-section {
        padding-top: 0px;
        padding-bottom: 25px;
        position: relative;
    }

    .slideshow-selector-wrapper {
        overflow-x: scroll;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: flex-start;
    }

    .slideshow-selector-wrapper::-webkit-scrollbar {
        display: none;
    }

    .padding-left {
        padding-left: 20vw;
    }

    .padding-right {
        padding-right: 20vw;
    }

    #arrow-indicators {
        display: flex;
    }

    #selector-underline-3 {
        width: 200px;
        left: 3px;
        right: unset;
        margin: unset;
    }

    /* reducing top margin of slideshow */
    .slideshow-section {
        margin-top: 25px;
    }


    /* Feature content section wrap */
    #feature-content-haus {
        max-width: 360px;
    }

    #feature-content-haus img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
    }

    .box h3,
    .box p {
        text-align: center;
    }

    .pricing-link-content {
        margin-top: 10px;
    }

    /* testimonial section */
    .background-decoration {
        clip-path: polygon(0 2%, 16% 1%, 34% 3%, 57% 1%, 72% 2%, 90% 0, 100% 1%, 100% 100%, 85% 98%, 75% 98%, 64% 98%, 53% 98%, 43% 98%, 33% 97%, 24% 98%, 9% 100%, 0% 99%);
    }

    /* interessantes section wrap */
    .interessantes-wrapper {
        max-width: 450px;
    }

    .articles-wrapper {
        max-width: 450px;
        cursor: pointer;
        margin-bottom: 70px;
    }

    /* Application banner adjustment */
    .application-text {
        text-align: center;
        margin: 0 auto;
    }

    .application-cta-flex {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .application-card {
        padding-top: 45px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 110px;
    }

    .application-card h2 {
        margin-bottom: 10px;
    }

    /* Centering footer section */
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    .leben-footer-section,
    .über-footer-section,
    .fragen-footer-section {
        text-align: center;
    }

    .logo-footer-section {
        margin-right: 0px;
    }

    .footer-wrapper h5 {
        margin-bottom: 15px;
    }

}


/* Removing slideshow-buttons and adjusting slideshow counter */
@media (max-width: 630px) {

    .nav-counter {
        width: 90px;
        bottom: 5px;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border: 2px solid white;
    }
}


/* shrinking down hero header-content for mobile */
/* removing section content drops */
/* Adjusting testimonial images */
@media (max-width: 500px) {

    .normal-header-text {
        font-size: 50px;
    }

    #hashtag {
        width: 60px;
    }

    #youthful {
        font-size: 70px;
    }

    #underline {
        right: 0%;
        width: 80%;
    }

    .special-content {
        margin-left: 5px;
    }

    /* Section content drop */
    #span-1,
    #span-2,
    #span-3 {
        display: none;
    }

    /* testimonial images */
    .profile-wrapper img {
        max-width: 170px;
        width: 100%;
    }

    #testimonial-arrow-left-mobile {
        top: -60px;
        left: 1vw;
        width: 70px;
    }
    
    #testimonial-arrow-right-mobile {
        right: 1vw;
        top: -60px;
        width: 70px;
    }

    .credentials-wrapper {
        flex-direction: column;
    }

    .socials {
        margin: 0 auto;
    }

    .credentials-wrapper p {
        text-align: center;
        margin-bottom: 10px;;
    }
}





/* Mobile Breakpoint */
@media (max-width: 420px) {

    /* Navigation Bar */
    .nav-wrapper {
        height: 60px;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #adh-logo {
        height: 40px;
    }

    .nav-cta {
        width: 130px;
        height: 35px;
    }

    #hamburger-icon {
        margin-left: 10px;
    }

    #menu-closer {
        right: 15px;
        top: 20px;
    }

    .menu-text a {
        font-size: 1.3rem;
    }

    .menu-text img {
        width: 20px;
    }

    .menu-content-wrapper {
        height: 95%;
    }

    #nav-indirect-spacer {
        height: 60px;
    }

    /* hero section */
    .hero-wrapper {
        margin-left: 13px;
        margin-right: 13px;
    }

    /* Introduction-header */
    .intro-header h1 {
        line-height: 3rem;
    }

    #main-brush {
        left: 0px;
    }

    /* Reducing bottom margin at introduction wrapper */
    .introduction-wrapper {
        margin-bottom: 25px;
    }

    /* content section 1 */
    #div-decoration-1,
    #div-decoration-3 {
        height: 50%;
    }

    .section-image-wrapper-1,
    .section-image-wrapper-2,
    .section-image-wrapper-3 {
        min-width: unset;
    }


    /* slideshow-section */

    .slideshow-1,
    .slideshow-2,
    .slideshow-3 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

.swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border: 1px solid white;
    }

    .pricing-link-content {
        margin-bottom: 60px;
    }
    
    .text-area p {
        font-size: 19px;
        font-weight: 500;
        color: #070930b6;
        line-height: 1.4rem;
    }

    .text-area {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .testimonial-navigators {
        width: 100px;
    }
    
    #testimonial-nav1,
    #testimonial-nav2,
    #testimonial-nav3,
    #testimonial-nav4,
    #testimonial-nav5 {
        width: 14px;
        height: 14px;
    }

    .background-decoration {
        clip-path: polygon(0 2%, 16% 1%, 34% 3%, 57% 1%, 72% 2%, 90% 0, 100% 1%, 100% 100%, 85% 98%, 75% 98%, 64% 98%, 53% 98%, 43% 98%, 33% 97.5%, 24% 98%, 9% 100%, 0% 99%);
    }
}



/* Adjusting introduction section brush width*/
/* Adjusting content section header size */
/* Adjusting testimonial section header size */
/* testimonial arrow mobile adujustment */
@media (max-width: 350px) {
    
    #main-brush {
        width: 100%;
    }

    .section-text-wrapper-1 h2 {
        font-size: 40px;
        line-height: 2.7rem;
    }

    .testimonial-header h1 {
        font-size: 40px;
    }

    #testimonial-arrow-left-mobile {
        width: 60px;
    }
    
    #testimonial-arrow-right-mobile {
        width: 60px;
    }
}