/* General global style configurations */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Dm Sans", "sans-serif";
    font-size: 16px;
    color: #7B88A8;
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 70px;
    color: #070930;
}

h2 {
    font-size: 45px;
    color: #070930;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    color: #070930; 
}

.cta {
    width: 140px;
    height: 45px;
    background-color: #F14014;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    font-weight: 400;
}


/* Flexbox helper */
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}















/* Navigation Bar */
nav {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #FFF0E2;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px #ccbfb2;
    z-index: 1000;
}

.nav-wrapper {
    max-width: 1500px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    height: 75px;
    z-index: 0;
}

#adh-logo,
#gkg-logo {
    height: 45px;
    width: auto;
}

#gkg-logo {
    margin-left: 20px;
}

.nav-wrapper__contents {
    display: flex;
    align-items: center;
}

.nav-links {
    margin-right: 50px;
    width: 450px;
}

.nav-links a {
    font-weight: 500;
    font-size: 1.05rem;
    transition: color 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-links a:hover {
    color: #F14014;
}

#hamburger-icon {
    display: none;
    width: 20px;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
}

.line-1,
.line-2,
.line-3 {
    height: 2px;
    width: 100%;
    background-color: black;
}

.line-2 {
    margin: 4px 0px;
}

.nav__indirect-spacer {
    background-color: #FFF0E2;
    height: 75px;
    width: 100%;
    z-index: -1;
}

#mobile-opened {
    display: none;
    background-color: #FFF0E2;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0px;
}

#menu-closer {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#menu-closer img {
    width: 20px;
    height: auto;
    -webkit-touch-callout: none;
}

.menu-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text:nth-child(n+2) {
    margin-top: 20px;
}

.menu-text a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    color: #070930;
    padding: 5px 0px;
}

.text-6 a {
    color: #F14014;
}

.menu-text-drop-1,
.menu-text-drop-2,
.menu-text-drop-3,
.menu-text-drop-4,
.menu-text-drop-5 {
    display: none;
}








/* header section */
.header {
    background-color: #FFF0E2;
}

.header__headline {
    position: relative;
    margin-top: 6.5vw;
    margin-bottom: 4.5vw;
}

.header__headline h1 {
    z-index: 1;
    text-align: center;
    position: relative;
}

.header__headline img {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 450px;
    width: 100%;
}

.header__image-wrapper {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.header__image-wrapper img {
    max-width: 1140px;
    min-width: 550px;
    width: 100%;
    height: auto;
    margin: 0 30px;
    z-index: 1;
}

.header__decoration {
    background-color: #FFF0E2;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0px;
    z-index: 0;
}



/* intro section*/
.intro {
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.intro-wrapper {
    max-width: 720px;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.intro-header {
    position: relative;
    width: 100%;
}

.intro-header h2 {
    position: relative;
    z-index: 1;
    text-align: center;
}

.brush-intro {
    position: absolute;
    top: 0px;
    left: 90px;
    right: 0;
    margin: auto;
    z-index: 0;
}

.intro-subheader p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5rem;;
    text-align: center;
    margin-top: 20px;
}

/* Bewerbung page: Anleitung */
.anleitung-section-1 {
    overflow: hidden;
}

.anleitung-wrapper-1,
.anleitung-wrapper-2,
.anleitung-wrapper-3 {
    max-width: 1140px;
    border-radius: 7px;
    clip-path: polygon(0 0, 50% 2%, 100% 0, 99% 50%, 100% 100%, 50% 98%, 0 100%, 1% 50%);
    background-color: #FEEAE5;
    padding: 100px 100px;
    z-index: 0;
    margin: 0px 30px;
}

.anleitung-wrapper-1 .icon-1,
.anleitung-wrapper-2 .icon-2,
.anleitung-wrapper-3 .icon-3 {
    width: 85px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.anleitung-wrapper-1 h4,
.anleitung-wrapper-2 h4,
.anleitung-wrapper-3 h4 {
    font-size: 27px;
    color: #070930;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
}

.anleitung-wrapper-1 p,
.anleitung-wrapper-2 p,
.anleitung-wrapper-3 p {
    max-width: 800px;
    font-size: 19px;
    color: #7B88A8;
    font-weight: 400;
    margin-top: 6px;
    text-align: center;
}

.anleitung-wrapper-1 a {
    font-size: 19px;
    font-weight: 500;
}

.email-link a{
    color: #D4805F;
    text-decoration: underline;
}

.paper-plane-overlay {
    position: relative;
}

.paper-plane {
    position: absolute;
    right: -100px;
    bottom: 0px;
    z-index: 2;
    max-width: 280px;
    width: 100%;
    height: auto;
    display: block;
}

.anleitung-section-2 {
    margin: 100px 0px;
}

.anleitung-wrapper-2 {
    background-color: #E7E9E3;
}

.anleitung-wrapper-3 {
    background-color: #F8EADA;
}

.anleitung-update-section {
    margin: 5vw 0px;
}

.anleitung-update-section p {
    text-align: center;
    color: #F14014;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0 2vw;
}





/* Bewerbung page: forumlar */
.formular {
    background-color: rgb(230, 230, 230);
    padding: 50px 0px;
}

.formular-wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 30px;
}

.bewerbungsvorlage {
    max-width: 300px;
    height: auto;
    margin-left: 50px;
}

.formular__content p {
    max-width: 700px;
    font-size: 19px;
    color: #7B88A8;
    font-weight: 400;
    margin: 30px 0px;
}

.formular__content a {
    font-size: 19px;
    color: #F14014;
    font-weight: 400;
    text-decoration: underline;
}

.button-overlay {
    position: relative;
}

.formular__content img {
    position: absolute;
    bottom: -70px;
    left: -30px;
}




/*Page 3: Q&A section */
.q-and-a-section {
background-color: #F8EADA;
padding-bottom: 150px;
}

.intro.q-and-a {
    background-color: unset;
}



.question-wrapper {
    max-width: 1140px; 
    width: 100%;
    margin: 0px 30px;
}


.question-1,
.question-2,
.question-3,
.question-4,
.question-5 {
    display: flex;
    justify-content:  space-between;
    user-select: none;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}


.fa-angle-down {
    -webkit-text-stroke: 1px rgb(94, 94, 94);
    margin-top: 10px;
    margin-right: 6px;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5 {
    transition: .2s ease;
    margin-left: 20px;
}


#text-q1,
#text-q2,
#text-q3,
#text-q4,
#text-q5 {
    margin-top: 20px;
    display: none;
    margin-bottom: 40px;
}









/* Footer section */
.application-wrapper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.application-background {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    background-color: #070930;
    z-index: 0;
}

.application-card {
    max-width: 900px;
    width: 100%;
    padding: 80px 50px;
    background-color: #F6B57F;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 2vw;
    z-index: 5;
}

.application-text h2,
.application-text span{
    font-size: 2rem;
}

.application-text h2 {
    color: #FEF8F2;
}

.application-text span {
    color: #F4431A;
}

.application-cta button {
    width: 200px;
    height: 50px;
    background-color: #F14014;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    font-weight: 400;
}

.application-cta {
    position: relative;
}

.application-arrow {
    position: absolute;
    bottom: -70px;
    left: -20px;
}







.footer-content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070930;
}

.footer-wrapper {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0 30px;
}

.logo-footer-section {
    margin-right: 40px;
    max-width: 110px;
    width: 100%;
}

.logo-footer-section img {
    width: 100%;
    height: auto;
}

.logo-footer-section, 
.leben-footer-section,
.端ber-footer-section,
.fragen-footer-section {
    margin-bottom: 50px;
}

.端ber-footer-section {
    margin-left: 20px;
    margin-right: 20px;
}

.fragen-footer-section {
    max-width: 360px;
}

.footer-wrapper h5 {
    font-size: 18px;
    color: #7B88A8;
    margin-bottom: 30px;
}

.footer-wrapper a,
.footer-wrapper p {
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.footer-wrapper a {
    line-height: 2.3rem;
    padding: 5px 0;
}

.footer-credentials-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070930;
}

.credentials-flex-container {
    max-width: 1140px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.credentials-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.socials {
    width: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.socials .fa-facebook {
    font-size: 1.4rem;
    cursor: pointer;
}

.socials .fa-instagram {
    font-size: 1.4rem;
    cursor: pointer;
}

.socials .fa-envelope {
    font-size: 1.2rem;
    cursor: pointer;
}

.credentials-line {
    width: 100%;
    height: 1px;
    background-color:rgba(255, 255, 255, 0.308);
}



/* Page 3 customizations */
.footer-content-area.footer-bewerbung {
    padding-top: 80px;
}





























/* paperplane removal */
@media (max-width: 1350px) {
    .paper-plane {
        display: none;
    }
}




/* Removing GKG-Logo */
@media (max-width: 1100px) {

    #gkg-logo {
        display: none;
    }

    #adh-logo {
        margin-right: 50px;
    }

    .nav-links {
        width: 400px;
    }
}





@media (max-width: 1000px) {

    /* Adjust nav margin */
    .nav-wrapper {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    /* Anleitung margin & padding*/
    .anleitung-wrapper-1,
    .anleitung-wrapper-2,
    .anleitung-wrapper-3 {
        margin: 0px 2vw;
        padding: 100px 50px;
    }

    /* bewerbung page: formular */
    .formular {
        padding-bottom: 100px;
    }

    .formular-wrapper {
        flex-direction: column-reverse;
        margin: 0px 2vw;
    }
    
    .formular__content p,
    .formular__content h2 {
        text-align: center;
    }

    .formular__content h2 {
        font-size: 38px;
    }

    .formular__content .cta {
        display: block;
        margin: 0 auto;
    }

    .formular__content img {
        bottom: -70px;
        left: 0;
        right: 90px;
        margin: auto;
    }

    .bewerbungsvorlage {
        max-width: 300px;
        height: auto;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    /* page: bewerbung q&a */
    .q-and-a-section {
        padding-bottom: 75px;
    }

    .question-wrapper {
        margin: 0px 2vw;
    }

    /* footer */
    .application-card {
        margin: 0 2vw;
    }

    .footer-wrapper {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .credentials-flex-container {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    
}




/* Repositioning footer for tablet view */
@media (max-width: 950px) {

    .footer-wrapper {
        display: block;
    }

    .端ber-footer-section {
        margin-left: 0px;
        margin-right: 0px;
    }
}






/* application banner adjustments */
@media (max-width: 892px) {

    .application-cta {
        margin-top: 20px;
    }
}







/* Tablet Breakpoint */
@media (max-width: 770px) {

    /* Navigation Bar */
    .nav-links {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    /* Reducing bottom margin at introduction wrapper 1 & 2 */
    .introduction-wrapper {
        margin-bottom: 75px;
    }

    /* page: bewerbung update */
    .anleitung-update-section {
        margin: 10vw 0px;
    }

     /* Application banner adjustment */
     .application-text {
        text-align: center;
        margin: 0 auto;
    }

    .application-cta-flex {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .application-card {
        padding-top: 45px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 110px;
    }

    .application-card h2 {
        margin-bottom: 10px;
    }

    /* Centering footer section */
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    .leben-footer-section,
    .端ber-footer-section,
    .fragen-footer-section {
        text-align: center;
    }

    .logo-footer-section {
        margin-right: 0px;
    }

    .footer-wrapper h5 {
        margin-bottom: 15px;
    }
}





@media (max-width: 500px) {

    .header__headline h1 {
        font-size: 50px;
    }

    /* footer credentials adjustment */
    .credentials-wrapper {
        flex-direction: column;
    }

    .socials {
        margin: 0 auto;
    }

    .credentials-wrapper p {
        text-align: center;
        margin-bottom: 10px;;
    }
}







/* Mobile Breakpoint */
@media (max-width: 420px) {

    /* Navigation Bar */
    .nav-wrapper {
        height: 60px;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #adh-logo {
        height: 40px;
    }

    .nav-cta {
        width: 130px;
        height: 35px;
    }

    #hamburger-icon {
        margin-left: 10px;
    }

    #menu-closer {
        right: 15px;
        top: 20px;
    }

    .menu-text a {
        font-size: 1.3rem;
    }

    .menu-text img {
        width: 20px;
    }

    .menu-content-wrapper {
        height: 95%;
    }

    .nav__indirect-spacer {
        height: 60px;
    }

    /* header */
    .header__headline {
        margin-bottom: 15vw;
    }

    /* Introduction-header */
    .intro-header h1 {
        line-height: 3rem;
    }

    .brush-intro {
        left: 0px;
    }

    .brush-intro.bewerbung {
        top: unset;
        bottom: 0px;
    }

    /* Anleitung margin & padding*/
    .anleitung-wrapper-1,
    .anleitung-wrapper-2,
    .anleitung-wrapper-3 {
        margin: 0px;
        padding: 100px 20px;
        clip-path: polygon(0 0, 50% 1%, 100% 0, 100% 100%, 50% 99%, 0 100%);
        border-radius: 0px;
    }

    .anleitung-section-2 {
        margin: 50px 0px;
    }

    /* bewerbung page: formular */    
    .formular__content h2 {
        font-size: 32px;
    }

    .formular__content .cta {
        display: block;
        margin: 0 auto;
    }

    .bewerbungsvorlage {
        max-width: 200px;
        height: auto;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}